@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background-color: #286628;
    display: flex;
    flex-direction: column;
}

header{
    height: 10%;
    width: 100%;
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    padding-bottom: 3%;
}

    #logo{
        height: 10vh;
        width: auto;
        margin-top: 5vh;
        margin-left: 20vh;
        margin-right: 0;
    }

    #nombre{
        text-decoration: none;
        font-size: 4.5vh;
        margin-left: 0;
        margin-top: 5vh;
        color: #286628;
        font-family: "National Park", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
    }
        #nombre:hover{
            text-decoration: underline;
        }
        
    nav{
        margin-left: 80vh;
        margin-top: 6vh;
    }
        nav a{
            margin-left: 2vh;
            text-decoration: none;
            color: #286628;
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
        }

            nav a:hover{
                text-decoration: underline;
            }
    .boton{
        background-color: #286628;
        color: #fff;
        padding: 0.6em 1.2em;
        margin-left: 1.8vh;
        border-radius: 6px;
        font-weight: 600;
        transition: 0.25s ease;
    }
        .boton:hover{
            background-color: #1f4d1f;
            text-decoration: none;
        }

.cabezal{
    background-color: #F8F8F8;
    height: 60%;
    width: 100%;
}
        .cabezal video{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }

        .texto-cabezal{
            position: absolute;
            top: 36%;
            left: 5%;
            color: #286628;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 2vh;
            background-color: rgba(255, 255, 255, 0.7);
            padding: 2vh;
        }
            .texto-cabezal h1{
                margin-bottom: 0.5vh;
                margin-top: 0;
            }

            .texto-cabezal p{
                margin-top: 0;
            }

main{
    background-color: #286628;
    padding-top: 3vh;
    padding-bottom: 15vh;
    width: 100%;
    flex: 1;
}

    .secciones{
        background-color: white;
        box-shadow: black 0px 2px 4px;
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 15%;
        margin-right: 15%;
        gap: 2vh;
        padding-top: 2vh;
        margin-top: 3vh;
    }
        
        .secciones h3{
            line-height: 1.1;
            color: #286628;
            margin: 0;
            margin-bottom: 0.3vh;
            padding: 0;
            padding-top: 0;
            justify-content: center;
            align-items: center;
            font-family: national park, sans-serif;
            font-weight: 700;
            font-size: 3.5vh;
        }

        .secciones p{
            width: 90%;
            color: #286628;
            margin: 3vh;
            margin-top: 0;
            justify-content: center;
            align-items: center;
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-size: 2vh;
            text-align: center;
            margin-bottom: 3vh;
        }

        .secciones span{
            color: #286628;
            font-family: "Poppins", sans-serif;
            font-weight: bold;
            font-size: 2vh;
        }

        .secciones img{
            width: 20vh;
            height: auto;
            margin-top: 2vh;
        }
            #fila{
                display: flex;
                align-items: flex-start;
                justify-content: center;
                gap: 4vh;
                width: 90%;
                margin: 0 auto;
            }

        .secciones a{
            color: #286628;
            text-decoration: underline;
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-size: 2vh;
            margin-bottom: 3vh;
            transition: 0.25s ease;
        }
            .secciones a:hover{
                font-size: 2.5vh;
            }


    .slider-proyectos{
        background-color: transparent;
        box-shadow: none;
        width: 95%;             
        margin: 0;                
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

        .ventana-proyectos{
            position: relative;
            width: 80%;               
            height: 55vh;
            overflow: hidden;
        }

        .proyecto{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 30%;
            height: 50vh;
            transform: translate(-50%, -50%) scale(0.8);
            background-color: #e5e5e5;
            border: #286628 0.5vh solid;
            box-shadow: 0 1vh 2vh rgba(0,0,0,0.3);
            opacity: 0;
            pointer-events: none;
            transition:
                transform 0.4s ease,
                opacity 0.4s ease;
            padding: 0;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            padding: 0;                 
            text-align: center;
        }
            .proyecto .foto{
                width: 100%;
                height: 25vh;
                overflow: hidden;
            }

            .proyecto .foto img{
                width: 100%;
                height: 25vh;
                object-fit: cover;
                margin: 0;
                padding: 0;
            }

            .proyecto .texto{
                margin: 0;
                padding: 0;
                width: 90%;
                color: #286628;
                font-family: "Poppins", sans-serif;
            }
                .texto h4{
                    margin-top: 2vh;
                    margin-bottom: 1vh;
                    font-weight: 700;
                    font-size: 3vh;
                }

                .texto p{
                    font-weight: 400;
                    font-size: 2vh;
                    margin-bottom: 2vh;
                }

                .texto a{
                    color: #286628;
                    margin-top: 0;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 2.5vh;
                    transition: 0.25s ease;
                }
                    .texto a:hover{
                        font-size: 3vh;
                }

        .proyecto.activo{
            opacity: 1;
            pointer-events: auto;
            width: 40%;
            background-color: white;
            transform: translate(-50%, -50%) scale(1);
            z-index: 3;
        }

        .proyecto.prev{
            opacity: 0.5;
            width: 40%;
            background-color: #d9d9d9;
            transform: translate(-135%, -50%) scale(0.9);
            z-index: 2;
        }

        .proyecto.next{
            opacity: 0.5;
            width: 40%;
            background-color: #d9d9d9;
            transform: translate(35%, -50%) scale(0.9);
            z-index: 2;
        }

        .flecha{
            background-color: #286628;
            color: #ffffff;
            border: none;
            border-radius: 50%;
            width: 6vh;
            height: 6vh;
            font-size: 3vh;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

            .flecha:hover{
                background-color: #1f4d1f;
            }


#divs-varios{
    width: 100%;
    display: flex;    
    align-items: center;             
    justify-content: center;
    gap: 8vh;
    margin-top: 10vh;
                                    
}
    .caja{
        width: 40vh;
        height: 50vh;
        background-color: #F8F8F8;
        padding: 2vh 1vh;
        display: flex;
        flex-direction: column;           
        align-items: center;              
        justify-content: start;          
        gap: 1.5vh;                         
        box-shadow: 0 1vh 2vh rgba(0,0,0,0.25);
    }
        .caja img{
            margin-top: 2vh;
            width: 14vh;
            height: auto;
        }

        .caja p{
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-size: 2vh;
            color: #286628;
            margin: 0;
        }
            .caja a{
                margin-top: 0;
                margin-bottom: 3vh;
                color: #286628;
                text-decoration: underline;
                font-family: "Poppins", sans-serif;
                font-size: 2vh;
                font-weight: 600;
                transition: 0.25s ease;
            }
                .caja a:hover{
                    font-size: 2.5vh;
                }

        .caja h3{
            margin: 0;
            text-align: center;
            font-family: "Poppins", sans-serif;
            font-size: 3vh;
            color: #286628;
        }

        .caja form{
            margin-top: 0;
            padding-bottom: 2vh;
            display: flex;
            flex-direction: row; 
            gap: 1vh;
            justify-content: center;
            align-items: center;
        }
            .caja input{
                height: 4vh;
                width: 18vh;
                border: 0.2vh solid #286628;
                border-radius: 0.5vh;
                font-size: 2vh;
                padding-left: 1vh;
            }

                .caja button{
                    height: 4.5vh;
                    border: 0.2vh solid #286628;
                    background-color: #FFF;
                    border-radius: 0.5vh;
                    padding: 0 2vh;
                    cursor: pointer;
                    font-size: 2vh;
                    color: #286628;
                    font-weight: 600;
                }

                .caja button:hover{
                    background-color: #286628;
                    color: #FFF;
                }

        
        .caja div{
            width: 90%;
            height: 30vh;
            margin: 0 auto;
            margin-top: 2vh;
        }
















footer{
    display: flex;
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #AD6F30;
    padding: 3vh 0;         
}

    #div-redes{
        display: flex;              
        justify-content: center;    
        align-items: center;
        gap: 3vh;                   
        width: 100%;
        margin-bottom: 2vh;
    }

        .redes{
            width: 4.5vh;
        }

        .redes img{
            width: 100%;
            height: auto;
        }

        .redes:hover{
            opacity: 0.9;
        }

    #logo-foot{
        width: 20vh;              
        margin-bottom: 2vh;
        border-radius: 1vh;   
    }

    footer div{
        width: 100%;             
        text-align: center;       
        color: #F8F8F8;
        font-family: "Poppins", sans-serif;
        font-size: 2vh;
        margin-bottom: 1vh;
    }

.idioma-switch{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

.idioma-btn{
  border: rgba(40, 102, 40, 0.35) 0.25vh solid;
  background-color: rgba(255,255,255,0.7);
  color: #286628;
  border-radius: 1.2vh;
  padding: 0.9vh 3.2%;
  font-size: 1.6vh;
  cursor: pointer;
  transition: transform 0.15s ease, box-shadow 0.2s ease, background-color 0.2s ease;
}

.idioma-btn:hover{
  transform: translateY(-0.2vh);
  box-shadow: 0 0.8vh 1.6vh rgba(0,0,0,0.15);
}

.idioma-btn.activo{
  background-color: rgba(40, 102, 40, 0.12);
  border-color: rgba(40, 102, 40, 0.7);
}

.hamburguesa{
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  width: 6vh;
  height: 6vh;
  border-radius: 1vh;
  align-items: center;
  justify-content: center;
  gap: 0.9vh;
  flex-direction: column;
}

.hamburguesa span{
  display: block;
  width: 4vh;
  height: 0.55vh;
  background-color: #286628;
  border-radius: 1vh;
  transition: transform 0.25s ease, opacity 0.25s ease;
}

.menu-overlay{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
  z-index: 90;
}

.menu-overlay.visible{
  opacity: 1;
  pointer-events: auto;
}

/* Botón en X cuando abre */
.hamburguesa.abierto span:nth-child(1){
  transform: translateY(1.45vh) rotate(45deg);
}

.hamburguesa.abierto span:nth-child(2){
  opacity: 0;
}

.hamburguesa.abierto span:nth-child(3){
  transform: translateY(-1.45vh) rotate(-45deg);
}
/* =========================
   RESPONSIVE (CELULAR)
   ========================= */

@media (max-width: 768px){

  html, body{
    overflow-x: hidden;
  }

  /* HEADER */
  header{
    height: auto;
    padding-bottom: 2vh;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5vh;
  }

    .hamburguesa{
    display: flex;
    margin-left: auto;
    margin-right: 4%;
    margin-top: 2vh;
  }

    nav#menu-principal{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 75%;
    max-width: 85%;
    background-color: #F8F8F8;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2.2vh;
    padding-top: 12vh;
    padding-left: 8%;
    padding-right: 8%;
    transform: translateX(110%);
    transition: transform 0.28s ease;
    z-index: 100;
    box-shadow: 0 1vh 3vh rgba(0,0,0,0.25);
  }

    nav#menu-principal a{
    width: 100%;
    font-size: 2.2vh;
  }

  nav#menu-principal .boton{
    width: 100%;
    margin-top: 1.5vh;
    padding: 1.3vh 0;
  }

    nav#menu-principal.abierto{
    transform: translateX(0);
  }

  #logo{
    height: 8vh;
    margin-top: 2vh;
    margin-left: 2vh;
    margin-right: 0;
  }

  #nombre{
    margin-top: 2vh;
    padding: 0;
    gap: 0;
    margin-left: 0;
    font-size: 3.5vh;
  }

  nav{
    width: 100%;
    margin-left: 0;
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5vh;
  }

  nav a{
    margin-left: 0;
    font-size: 2vh;
  }

  .boton{
    width: 70%;
    text-align: center;
    margin-left: 0;
    padding: 1.1vh 0;
  }

  /* HERO / CABEZAL */
  .cabezal{
    height: 45vh;
    position: relative;
  }

  .cabezal video{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .texto-cabezal{
    display: none;
  }

  /* SECCIONES GENERALES */
  main{
    padding-bottom: 10vh;
  }

  .secciones{
    width: 92%;
    margin-left: 4%;
    margin-right: 4%;
    padding-top: 2vh;
  }

  .secciones h3{
    font-size: 3.1vh;
    width: 90%;
    text-align: center;
  }

  .secciones p{
    width: 88%;
    font-size: 2vh;
    margin: 2vh 0;
    margin-bottom: 2.5vh;
  }

  .secciones img{
    width: 18vh;
  }

  /* SOBRE NOSOTROS (FILA) */
  #fila{
    flex-direction: column;
    align-items: center;
    gap: 2vh;
    width: 90%;
  }

  /* SLIDER PROYECTOS */
  .slider-proyectos{
    width: 100%;
    padding-top: 3vh;
    padding-bottom: 3vh;
    justify-content: center;
    gap: 2vh;
  }

  .ventana-proyectos{
    width: 92%;
    height: 62vh;
  }

  .flecha{
    width: 5.5vh;
    height: 5.5vh;
    font-size: 2.7vh;
  }

  /* Las tarjetas se vuelven "single focus" en móvil */
  .proyecto{
    width: 86%;
    height: 58vh;
  }

  .proyecto .foto{
    height: 26vh;
  }

  .proyecto .foto img{
    height: 26vh;
  }

  .proyecto .texto{
    width: 90%;
  }

  .texto h4{
    font-size: 2.7vh;
  }

  .texto p{
    font-size: 1.9vh;
  }

  .texto a{
    font-size: 2.3vh;
  }

  /* En móvil, prev/next quedan más atrás (no tan a los costados) */
  .proyecto.prev{
    display: none;
  }

  .proyecto.next{
    display: none;
  }

  .proyecto.activo{
    width: 92%;
  }

  /* CAJAS (NEWSLETTER / DONACIONES) */
  #divs-varios{
    flex-direction: column;
    gap: 4vh;
    margin-top: 6vh;
  }

  .caja{
    width: 85%;
    height: auto;
    padding: 3vh 4%;
  }

  .caja img{
    width: 12vh;
  }

  .caja h3{
    font-size: 2.7vh;
  }

  .caja p{
    font-size: 2vh;
  }

  .caja div{
    height: auto;
    margin-top: 1.5vh;
  }

  .caja form{
    width: 100%;
    flex-direction: column;
    gap: 1.5vh;
    padding-bottom: 1vh;
  }

  .caja input{
    width: 92%;
    height: 5vh;
    font-size: 2vh;
  }

  .caja button{
    width: 92%;
    height: 5.5vh;
    font-size: 2vh;
  }

  /* FOOTER */
  #logo-foot{
    width: 12vh;
  }

  footer div{
    font-size: 1.8vh;
    width: 90%;
  }

  .idioma-btn{
    font-size: 1.6vh;
    padding: 1vh 6%;
  }
}

/* EXTRA: celulares chicos */
@media (max-width: 420px){

  .texto-cabezal{
    top: 26vh;
    font-size: 1.7vh;
  }

  .texto-cabezal h1{
    font-size: 2.7vh;
  }

  .ventana-proyectos{
    height: 66vh;
  }

  .proyecto{
    height: 62vh;
  }

  .proyecto .foto{
    height: 24vh;
  }

  .proyecto .foto img{
    height: 24vh;
  }

  nav a{
    font-size: 2vh;
  }

  .boton{
    width: 78%;
  }

    nav#menu-principal{
    width: 84%;
    padding-top: 11vh;
  }
}

/* BOTÓN CERRAR MENÚ */
.menu-cerrar{
  display: none;
}

/* Solo en mobile */
@media (max-width: 768px){

  .menu-cerrar{
    display: block;
    position: absolute;
    top: 2.5vh;
    right: 5%;
    background: transparent;
    border: none;
    font-size: 4vh;
    color: #777;
    cursor: pointer;
    z-index: 5;
  }

  .menu-cerrar:hover{
    color: #286628;
  }
}

